@tailwind base;
@tailwind components;
@tailwind utilities;

/* minimal reset for app visuals */
html,body,#root{height:100%;margin:0}
body{font-family:Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial}
